Repository shinokamix/overlay-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,ts,tsx,css,md,json,yml,yaml}": "prettier --write",
  "*.{js,cjs,mjs,ts,tsx}": "eslint --fix"
}

feat: wire interactive overlay controls in UI
  CHANGELOG.md
  e2e/smoke.spec.ts
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/app/model/overlay-api.ts
  src/app/styles.css
Due: prettier --write, eslint --fix

feat/overlay interaction hotkey (#29)
  CHANGELOG.md
  e2e/smoke.spec.ts
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/app/model/overlay-api.ts
  src/app/styles.css
  src/shared/config/hotkeys.ts
Due: prettier --write, eslint --fix

refactor: split tauri backend into feature modules
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/app/events.rs
  src-tauri/src/app/mod.rs
  src-tauri/src/app/state.rs
  src-tauri/src/features/hotkeys/commands.rs
  src-tauri/src/features/hotkeys/mod.rs
  src-tauri/src/features/hotkeys/model.rs
  src-tauri/src/features/hotkeys/service.rs
  src-tauri/src/features/hotkeys/state.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/overlay/commands.rs
  src-tauri/src/features/overlay/mod.rs
  src-tauri/src/features/overlay/service.rs
  src-tauri/src/features/overlay/state.rs
  src-tauri/src/features/overlay/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/shared/constants.rs
  src-tauri/src/shared/mod.rs
Due: none

docs: describe tauri backend module boundaries
  ARCHITECTURE.md
Due: prettier --write

refactor/tauri backend modularization (#30)
  ARCHITECTURE.md
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/app/events.rs
  src-tauri/src/app/mod.rs
  src-tauri/src/app/state.rs
  src-tauri/src/features/hotkeys/commands.rs
  src-tauri/src/features/hotkeys/mod.rs
  src-tauri/src/features/hotkeys/model.rs
  src-tauri/src/features/hotkeys/service.rs
  src-tauri/src/features/hotkeys/state.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/overlay/commands.rs
  src-tauri/src/features/overlay/mod.rs
  src-tauri/src/features/overlay/service.rs
  src-tauri/src/features/overlay/state.rs
  src-tauri/src/features/overlay/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/shared/constants.rs
  src-tauri/src/shared/mod.rs
Due: prettier --write

refactor: split app shell into frontend feature slices
  src/app/App.tsx
  src/app/model/use-overlay-window-size-sync.ts
  src/features/hotkey-settings/index.ts
  src/features/hotkey-settings/model/api.ts
  src/features/hotkey-settings/model/constants.ts
  src/features/hotkey-settings/model/index.ts
  src/features/hotkey-settings/model/use-hotkey-settings.ts
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/hotkey-settings/ui/index.ts
  src/features/overlay-interaction/index.ts
  src/features/overlay-interaction/model/api.ts
  src/features/overlay-interaction/model/index.ts
  src/features/overlay-interaction/model/use-overlay-interaction.ts
  src/features/overlay-interaction/ui/index.ts
  src/features/overlay-interaction/ui/overlay-interaction-controls.tsx
  src/shared/lib/to-error-message.ts
Due: prettier --write, eslint --fix

docs: update architecture notes for frontend feature slices
  ARCHITECTURE.md
  README.md
Due: prettier --write

refactor/fsd frontend app split (#31)
  ARCHITECTURE.md
  README.md
  src/app/App.tsx
  src/app/model/use-overlay-window-size-sync.ts
  src/features/hotkey-settings/index.ts
  src/features/hotkey-settings/model/api.ts
  src/features/hotkey-settings/model/constants.ts
  src/features/hotkey-settings/model/index.ts
  src/features/hotkey-settings/model/use-hotkey-settings.ts
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/hotkey-settings/ui/index.ts
  src/features/overlay-interaction/index.ts
  src/features/overlay-interaction/model/api.ts
  src/features/overlay-interaction/model/index.ts
  src/features/overlay-interaction/model/use-overlay-interaction.ts
  src/features/overlay-interaction/ui/index.ts
  src/features/overlay-interaction/ui/overlay-interaction-controls.tsx
  src/shared/lib/to-error-message.ts
Due: prettier --write, eslint --fix

docs: streamline core project documentation
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  RELEASE_CHECKLIST.md
  ROADMAP.md
  SECURITY.md
Due: prettier --write

docs: unify contributor and agent execution rules
  AGENTS.md
  CONTRIBUTING.md
  e2e/AGENTS.md
  src-tauri/AGENTS.md
  src/AGENTS.md
Due: prettier --write

docs: tighten PR and issue triage templates
  .github/ISSUE_LABELS.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs/production docs overhaul (#32)
  .github/ISSUE_LABELS.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE_CHECKLIST.md
  ROADMAP.md
  SECURITY.md
  e2e/AGENTS.md
  src-tauri/AGENTS.md
  src/AGENTS.md
Due: prettier --write

feat/chat-first overlay shell scaffold
  e2e/smoke.spec.ts
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/app/model/use-overlay-shell-state.ts
  src/features/chat-shell/index.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/chat-shell/ui/index.ts
  src/features/overlay-header/index.ts
  src/features/overlay-header/model/use-overlay-window-controls.ts
  src/features/overlay-header/ui/index.ts
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/settings-modal/index.ts
  src/features/settings-modal/ui/index.ts
  src/features/settings-modal/ui/settings-modal.tsx
Due: prettier --write, eslint --fix

fix/allow header drag and window close permissions
  src-tauri/capabilities/default.json
Due: prettier --write

docs/update architecture and changelog for chat shell
  ARCHITECTURE.md
  CHANGELOG.md
Due: prettier --write

fix/restore chat heading for ui tests
  src/features/chat-shell/ui/chat-shell.tsx
Due: prettier --write, eslint --fix

feat/chat shell header scaffold (#33)
  ARCHITECTURE.md
  CHANGELOG.md
  e2e/smoke.spec.ts
  src-tauri/capabilities/default.json
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/app/model/use-overlay-shell-state.ts
  src/features/chat-shell/index.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/chat-shell/ui/index.ts
  src/features/overlay-header/index.ts
  src/features/overlay-header/model/use-overlay-window-controls.ts
  src/features/overlay-header/ui/index.ts
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/settings-modal/index.ts
  src/features/settings-modal/ui/index.ts
  src/features/settings-modal/ui/settings-modal.tsx
Due: prettier --write, eslint --fix

feat/shared shadcn dialog tabs primitives
  package-lock.json
  package.json
  src/shared/ui/dialog.tsx
  src/shared/ui/scroll-area.tsx
  src/shared/ui/tabs.tsx
Due: prettier --write, eslint --fix

feat/settings modal desktop shell
  src/app/App.tsx
  src/features/settings-modal/model/index.ts
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
Due: prettier --write, eslint --fix

test/settings modal categories flow
  CHANGELOG.md
  src/app/model/__tests__/overlay-ui.integration.test.tsx
Due: prettier --write, eslint --fix

feat/settings modal shadcn layout (#34)
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/settings-modal/model/index.ts
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
  src/shared/ui/dialog.tsx
  src/shared/ui/scroll-area.tsx
  src/shared/ui/tabs.tsx
Due: prettier --write, eslint --fix

ci/release beta auto notes from changelog
  .github/workflows/release-beta.yml
Due: prettier --write

ci/release beta preflight checks
  .github/workflows/release-beta.yml
Due: prettier --write

docs/update release and changelog process
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  RELEASE_CHECKLIST.md
Due: prettier --write

ci/enforce changelog policy on pr
  .github/workflows/ci.yml
Due: prettier --write

ci/beta release changelog gates v2 (#35)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release-beta.yml
  CONTRIBUTING.md
  README.md
  RELEASE_CHECKLIST.md
Due: prettier --write

feat/hotkey settings capture ui
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/hotkey-settings/model/__tests__/hotkey-accelerator.test.ts
  src/features/hotkey-settings/model/constants.ts
  src/features/hotkey-settings/model/hotkey-accelerator.ts
  src/features/hotkey-settings/model/use-hotkey-settings.ts
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal.tsx
Due: prettier --write, eslint --fix

fix/hotkey clearing behavior in tauri service
  src-tauri/src/features/hotkeys/service.rs
Due: none

docs/changelog hotkey customization update
  CHANGELOG.md
Due: prettier --write

feat/hotkey settings custom bindings (#36)
  CHANGELOG.md
  src-tauri/src/features/hotkeys/service.rs
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/hotkey-settings/model/__tests__/hotkey-accelerator.test.ts
  src/features/hotkey-settings/model/constants.ts
  src/features/hotkey-settings/model/hotkey-accelerator.ts
  src/features/hotkey-settings/model/use-hotkey-settings.ts
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal.tsx
Due: prettier --write, eslint --fix

fix: preserve interaction mode on overlay hide/show toggle
  CHANGELOG.md
  src-tauri/src/features/overlay/service.rs
Due: prettier --write

fix: preserve interaction mode on overlay hide/show toggle (#37)
  CHANGELOG.md
  src-tauri/src/features/overlay/service.rs
Due: prettier --write

feat: add provider backend commands
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/credentials.rs
  src-tauri/src/features/providers/mod.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
Due: none

feat: add provider settings UI
  src/app/App.tsx
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/provider-settings/index.ts
  src/features/provider-settings/model/api.ts
  src/features/provider-settings/model/index.ts
  src/features/provider-settings/model/provider-presets.ts
  src/features/provider-settings/model/use-provider-settings.ts
  src/features/provider-settings/ui/index.ts
  src/features/provider-settings/ui/provider-settings-panel.tsx
Due: prettier --write, eslint --fix

docs: document provider configuration
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
Due: prettier --write

Feat/provider connections (#38)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/credentials.rs
  src-tauri/src/features/providers/mod.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
  src/app/App.tsx
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/provider-settings/index.ts
  src/features/provider-settings/model/api.ts
  src/features/provider-settings/model/index.ts
  src/features/provider-settings/model/provider-presets.ts
  src/features/provider-settings/model/use-provider-settings.ts
  src/features/provider-settings/ui/index.ts
  src/features/provider-settings/ui/provider-settings-panel.tsx
Due: prettier --write, eslint --fix

feat(providers): add static provider catalog with model metadata
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/catalog.json
  src-tauri/src/features/providers/catalog.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/mod.rs
  src/shared/lib/__tests__/provider-catalog.test.ts
  src/shared/lib/providers/catalog.ts
  src/shared/lib/providers/index.ts
Due: prettier --write, eslint --fix

feat(providers): add static provider catalog with model metadata (#39)
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/catalog.json
  src-tauri/src/features/providers/catalog.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/mod.rs
  src/shared/lib/__tests__/provider-catalog.test.ts
  src/shared/lib/providers/catalog.ts
  src/shared/lib/providers/index.ts
Due: prettier --write, eslint --fix

refactor(providers): introduce multi-connection storage with v1 migration
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
Due: none

refactor(providers): introduce multi-connection storage with v1 migration (#40)
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
Due: none
