Repository shinokamix/overlay-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,ts,tsx,css,md,json,yml,yaml}": "prettier --write",
  "*.{js,cjs,mjs,ts,tsx}": "eslint --fix"
}

feat(providers): protocol adapters for OpenAI, Anthropic, and Gemini
  src-tauri/src/features/providers/adapters.rs
  src-tauri/src/features/providers/mod.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
Due: none

feat(providers): protocol adapters for OpenAI, Anthropic, and Gemini (#41)
  src-tauri/src/features/providers/adapters.rs
  src-tauri/src/features/providers/mod.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
Due: none

feat(chat): wire chat shell to the configured provider
  ARCHITECTURE.md
  CHANGELOG.md
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/chat-shell/model/__tests__/use-chat-shell.test.tsx
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/shared/lib/providers/active-provider.ts
  src/shared/lib/providers/index.ts
Due: prettier --write, eslint --fix

test(e2e): update smoke spec for new chat header and disabled composer
  e2e/smoke.spec.ts
Due: prettier --write, eslint --fix

feat(chat): wire chat shell to the configured provider (#42)
  ARCHITECTURE.md
  CHANGELOG.md
  e2e/smoke.spec.ts
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/chat-shell/model/__tests__/use-chat-shell.test.tsx
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/shared/lib/providers/active-provider.ts
  src/shared/lib/providers/index.ts
Due: prettier --write, eslint --fix

feat(providers): multi-connection settings panel
  ARCHITECTURE.md
  CHANGELOG.md
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/provider-settings/model/__tests__/connection-form.test.ts
  src/features/provider-settings/model/api.ts
  src/features/provider-settings/model/connection-form.ts
  src/features/provider-settings/model/index.ts
  src/features/provider-settings/model/provider-presets.ts
  src/features/provider-settings/model/use-provider-connections.ts
  src/features/provider-settings/model/use-provider-settings.ts
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
Due: prettier --write, eslint --fix

feat(providers): multi-connection settings panel (#43)
  ARCHITECTURE.md
  CHANGELOG.md
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/provider-settings/model/__tests__/connection-form.test.ts
  src/features/provider-settings/model/api.ts
  src/features/provider-settings/model/connection-form.ts
  src/features/provider-settings/model/index.ts
  src/features/provider-settings/model/provider-presets.ts
  src/features/provider-settings/model/use-provider-connections.ts
  src/features/provider-settings/model/use-provider-settings.ts
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
Due: prettier --write, eslint --fix

refactor(ui): implement Lumina Chat design system across overlay
  index.html
  src/app/App.tsx
  src/app/styles.css
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
  src/shared/ui/badge.tsx
  src/shared/ui/button.tsx
  src/shared/ui/dialog.tsx
  src/shared/ui/tabs.tsx
Due: prettier --write, eslint --fix

refactor(ui): implement Lumina Chat design system across overlay (#44)
  index.html
  src/app/App.tsx
  src/app/styles.css
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
  src/shared/ui/badge.tsx
  src/shared/ui/button.tsx
  src/shared/ui/dialog.tsx
  src/shared/ui/tabs.tsx
Due: prettier --write, eslint --fix

refactor(ui): replace inline SVGs with lucide-react and extract PanelHeader
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/shared/ui/panel-header.tsx
Due: prettier --write, eslint --fix

refactor(ui): replace inline SVGs with lucide-react and extract PanelHeader (#45)
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/ui/settings-category-placeholder.tsx
  src/shared/ui/panel-header.tsx
Due: prettier --write, eslint --fix

refactor(ui): improve settings UX — sidebar icons, kbd hotkeys, provider indicators
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
Due: prettier --write, eslint --fix

refactor(ui): improve settings UX — sidebar icons, kbd hotkeys, provider indicators (#46)
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
Due: prettier --write, eslint --fix

refactor: chat shell ui
  src/features/chat-shell/ui/chat-shell.tsx
Due: prettier --write, eslint --fix

refactor: header ui
  src/features/overlay-header/ui/overlay-header.tsx
Due: prettier --write, eslint --fix

refactor(ui): overhaul UI with new design and improved user experience
  .claude/settings.local.json
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/adapters.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
  src/app/App.tsx
  src/app/styles.css
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/chat-shell/ui/markdown-message.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
  src/shared/ui/badge.tsx
  src/shared/ui/dialog.tsx
Due: prettier --write, eslint --fix

refactor: add ai
  .gitignore
Due: none

refactor
  .gitignore
Due: none

delete claude
  .claude/settings.local.json
Due: prettier --write

update tests
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/features/chat-shell/model/__tests__/use-chat-shell.test.tsx
Due: prettier --write, eslint --fix

Refactor/UI (#47)
  .gitignore
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app/bootstrap.rs
  src-tauri/src/app/commands.rs
  src-tauri/src/features/providers/adapters.rs
  src-tauri/src/features/providers/commands.rs
  src-tauri/src/features/providers/model.rs
  src-tauri/src/features/providers/service.rs
  src/app/App.tsx
  src/app/model/__tests__/overlay-ui.integration.test.tsx
  src/app/styles.css
  src/features/chat-shell/model/__tests__/use-chat-shell.test.tsx
  src/features/chat-shell/model/api.ts
  src/features/chat-shell/model/use-chat-shell.ts
  src/features/chat-shell/ui/chat-shell.tsx
  src/features/chat-shell/ui/markdown-message.tsx
  src/features/hotkey-settings/ui/hotkey-settings-panel.tsx
  src/features/overlay-header/ui/overlay-header.tsx
  src/features/provider-settings/ui/connection-editor.tsx
  src/features/provider-settings/ui/provider-settings-panel.tsx
  src/features/settings-modal/model/settings-sections.ts
  src/features/settings-modal/ui/settings-modal-content.tsx
  src/features/settings-modal/ui/settings-modal-sidebar.tsx
  src/features/settings-modal/ui/settings-modal.tsx
  src/shared/ui/badge.tsx
  src/shared/ui/dialog.tsx
Due: prettier --write, eslint --fix

Add image to README for project visualization
  README.md
Due: prettier --write
